{% extends "layout.html" %}



{% block title %}My Website{% endblock %}

{% block content %}
    <h1 class="text-center mt-4">Are you sure that you want to delete this post ?</h1>
    <form method="post">
        {% csrf_token%}
        <button class="btn btn-danger" style="margin-left:280px ;margin-right: 4px; margin-top: 10px;">Delete</button>
        <a class="btn btn-primary " href="{% url 'tweet_list' %}" role="button" style="margin-left: 4px;margin-top: 10px;">Cancel</a>

    </form>
{% endblock %}