{% extends "layout.html" %}

{% block title %}
My Website
{% endblock %}

{% block content %}
<a class="btn btn-primary mb-4" href="{% url 'tweet_create' %}" role="button" style="margin-left: 160px;;">Creat Tweet</a>

<div class="conainer row gap-4" style="margin-left:160px;">
  {% for tweet in tweets %}
  <div class="card" style="width: 18rem; border: 1px solid red;">
    <div class="card-body">
      <img class="card-img-top" src="{{tweet.photos.url}}" >
      <h5 class="card-title " style="color:rgb(31, 150, 144) ;">{{tweet.user.username}}</h5>
      <p class="card-text" >{{tweet.text}}</p>
      <p class="card-text"><small class="text-body-secondary">{{tweet.created_at}}</small></p>
      {% if tweet.user == user %}
      <a class="btn btn-primary" href="{% url 'tweet_edit' tweet.id%}" role="button">Edit</a>
      <a class="btn btn-danger" href="{% url 'tweet_delete' tweet.id%}" role="button">Delete</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
    
  </div>
  {% endblock %}